body{
    margin: 0;
    padding: 0;
    background-image: url(./assets/Images/bg-Image.jpg);
    background-size: cover;
}

.button{
   margin-left:600px;
    background-color: rgba(128, 128, 128, 0.507);
    border: grey;
    color: honeydew;
}

input{
    width: 400px;
}

.fix{
    color: whitesmoke;
    font-weight: 700;
    font-size:30px;
    text-align: center;
}