body{
    margin: 0;
    padding: 0;
    background-image: url(./assets/Images/bg-Image.jpg);
    background-size: cover;
}

.button{
   margin-left:600px;
    background-color: rgba(128, 128, 128, 0.507);
    border: grey;
    color: honeydew;
}

input{
    width: 400px;
}

.fix{
    color: darkred;
    font-weight: 600;
    font-size:13px;
    text-align: left;
    line-height: 10px;
    text-overflow: inherit;
}

.dis{
    background-color: rgba(255, 255, 255, 0.993);
    background-size: cover;
   
}
.dis2{
    background-image:url(./assets/Images/Phonograph\ record.jpg);
    background-size: cover;
   
}

@media screen and (max-width:500px){
    body{
        width:100%;
        background-image: url(./assets/Images/bg-Image.jpg);
        background-size: cover;
        background-repeat: inherit;
    }
    input-group{
        width:200px
       }
       card{
           display: none;
       }
       button{
          margin: 0,auto;
          
       }
       p{
           font-size: 4px;
          
           text-align: left;
           font-weight: 200;
           text-overflow: inherit;
       }
   
   
    }
    
